body{
    background: #edede9;
    font-family: Arial;
    font-size: 16px;
}

#container{
    width: 90%;
    text-align: left;
    margin: auto;
}

#cabecera{
    background: #457b9d;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.5);
    padding: 0.5em;
}

#cabecera #logo{
    width: 40px;
    vertical-align: middle;
}

#contenido{
    background: #457b9d;
    padding: 0.3em;
    margin: 0.5em 15em;
    font-size: 20px;
    border-radius: 20px;
}

#contenido h1{
    font-size: 25px;
    margin: 0;
    text-align: center;
}

input{
    width: 90%;
    padding: 10px 0px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid;
    border-radius: 4px;
    background-color: #edede9;
    resize: vertical;
}

input:focus{
    border: 1px solid;
}

label{
    padding: 12px 12px 12px 0;
    display: inline-block;
    box-sizing: border-box;
    font-weight: bold;
}

select{
    width: 10%;
    padding: 10px 0px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid;
    border-radius: 4px;
    background-color: #edede9;
    float: left;
}

.colum25{
    float: left;
    width: 40%;
    margin-top: 6px;
    box-sizing: border-box;
}

.colum75{
    float: left;
    width: 60%;
    margin-top: 6px;
    box-sizing: border-box;
}

.fila::after{
    content: "";
    display: table;
    clear: both;
}

#contenido h2{
    font-size: 15px;
    font-weight: lighter;
    width: 100%;
    text-align: right;
    margin-top: 0;
}

.button{
    background-color: #588157;
    border: solid;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 12px;
    transition-duration: 0.4s;
}

.button:hover{
    background-color: #edede9;
    color: black;
    border: solid #588157;
}

.button2{
    background-color: #588157;
    border: solid;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 12px;
    width: 50%;
    margin: 0 25%;
    transition-duration: 0.4s;
}

.button2:hover{
    background-color: #edede9;
    color: black;
    border: solid #588157;
}