body{
    background: #edede9;
}

#container{
    width: 90%;
    margin: 0 auto;
}

#cabecera{
    background: #457b9d;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.5);
    padding: 0.5em;
}

#cabecera #logo{
    width: 40px;
    vertical-align: middle;
}


#footer{
    padding: 2em;
    display: grid;
    grid-column-gap: 4rem;
    grid-template-columns: 1fr 1fr;
    min-height: 30vh;
}

#post{
    padding-top: 2em;
}

.button{
    background-color: #588157;
    border: solid;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 12px;
    transition-duration: 0.4s;
}

.button:hover{
    background-color: #edede9;
    color: black;
    border: solid #588157;
}

.button1{
    background-color: #588157;
    border: solid;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 12px;
    transition-duration: 0.4s;
    float: right;
}

.button1:hover{
    background-color: #edede9;
    color: black;
    border: solid #588157;
}

.button2{
    background-color: #588157;
    border: solid;
    padding: 10px 20px;
    font-size: 35px;
    font-weight: bold;
    border-radius: 12px;
    transition-duration: 0.4s;
}

.button2:hover{
    background-color: #edede9;
    color: black;
    border: solid #588157;
}

.button3{
    background-color: #edede9;
    border: none;
    font-size: 30px;
    font-weight: bold;
    padding: 5px 10px;
    float: right;
    transition-duration: 0.4s;
}

.button3:hover{
    background-color: black;
    color: #edede9;
    border-radius: 12px;
}