body{
    background: #edede9;
    font-family: Arial;
    font-size: 16px;
    padding: 10;
    margin: 10;
}

#container{
    width: 90%;
    text-align: left;
    margin: auto;
}

#cabecera{
    background: #457b9d;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.5);
    padding: 0.5em;
}

#cabecera #logo{
    width: 40px;
    vertical-align: middle;
}

#contenido{
    background: #457b9d;
    text-align: center;
    padding: 0.5em;
    margin: 1em 15em;
    font-size: 20px;
    border-radius: 20px;
}

#contenido h1{
    font-size: 25px;
    margin: 0;
}

#contenido h2{
    font-size: 15px;
    font-weight: bold;
    padding: 0em 10em;
    text-align: justify;
}

input::placeholder{
    text-align: center;
}

.button{
    background-color: #588157;
    border: solid;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 12px;
    transition-duration: 0.4s;
}

.button:hover{
    background-color: #edede9;
    color: black;
    border: solid #588157;
}

.button1{
    background-color: #588157;
    border: solid;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 12px;
    width: 50%;
    margin: 1em;
    transition-duration: 0.4s;
}

.button1:hover{
    background-color: #edede9;
    color: black;
    border: solid #588157;
}

.button2{
    background-color: #588157;
    border: solid;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 12px;
    width: 50%;
    margin: 3px;
    transition-duration: 0.4s;
}

.button2:hover{
    background-color: #edede9;
    color: black;
    border: solid #588157;
}